site_name: My site
site_url: https://mydomain.org/mysite


# Site configuration for MkDocs with Material theme
theme:
  name: material

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections


# 
nav:
  - Home: 
    - index.md
  - Large Sample Theory:
    - 大数定律: home/page-1.md
    - 中心极限定理: home/page-2.md